$nav-bg-color: #444;
$nav-shadow-color: #111;
$link-color: #aaa;
$link-hover-color: #fff;
$lnik-hover-bg-color: #999;

$success: #00cc00;
$success-dark: #3ab54a;
$warning: #e77e21;
$warning-dark: #e75521;
$danger: #e52929;
$danger-dark: #c03a2a;
$alt: blue;
$extra: purple;